@import '../src/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

/* Animations from the Landing Page HTML */
@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-up {
    animation: fade-in-up 0.8s ease-out forwards;
}

@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

.animate-count {
    animation: counter 3s ease-out forwards;
    counter-reset: num var(--num);
}

.animate-count::after {
    content: counter(num);
}

@keyframes counter {
    from {
        --num: 0;
    }

    to {
        --num: 4000;
    }
}